.dict-top-bar {
    -fx-background-color: #28df99;
    -fx-background-radius: 15 15 0 0;
}

.dict-primary-container {
    -fx-background-radius: 20 20 15 15;
}

.dict-title-bar-icon {
    -fx-fill: white;
}

.dict-left-container {
    -fx-background-color: #99f3bd;
    -fx-background-radius: 0 0 0 15;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 15, 0.2, 6, 0);
}



.dict-left-menu-icon {
    -fx-fill: #3e030b;
}

.dict-left-menu-item:hover {
    -fx-background-color: rgb(60, 186, 120);
}

.dict-left-menu-button {
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 60;
}

.dict-menu-icon {

}

.dict-title-bar-icon:hover {
    -fx-opacity: 0.6;
}