.dict-top-bar {
    -fx-background-color: #28df99;
}

.dict-title-bar-icon {
    -fx-fill: white;
}

.dict-left-container {
    -fx-background-color: #99f3bd;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 15, 0.2, 6, 0);
}


.dict-left-menu-icon {
    -fx-fill: #3e030b;
}

.dict-left-menu-item:hover {
    -fx-background-color: rgb(60, 186, 120);
}

.dict-left-menu-button {
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 60;
}

.dict-menu-icon {

}

.dict-title-bar-icon:hover {
    -fx-opacity: 0.6;
}

.rounded-corners .dict-top-bar {
    -fx-background-radius: 15 15 0 0;
}

.rounded-corners.dict-primary-container {
    -fx-background-radius: 20 20 15 15;
}

.rounded-corners .dict-left-container {
    -fx-background-radius: 0 0 0 15;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 5;
    -fx-border-radius: 2.0em;
}


.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 1 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 5;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: derive(#4D4C4F, 10.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 5;
}

.scroll-bar:vertical {
    -fx-pref-width: 10;
    -fx-padding: 0;
}

.scroll-bar:horizontal {
    -fx-pref-height: 10;
    -fx-padding: 0;
}

.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
    -fx-opacity: 0;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.word-label {
    -fx-font-size: 23;
    -fx-padding: 0 0 0 0;
}

.label-pronunciation {
    -fx-font-style: italic;
    -fx-text-fill: #a2a2a2;
    -fx-padding: 0 0 10 0;
}

.label-header {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-padding: 0 0 10 10;
}

.label-explanation, .label-idiom {
    -fx-padding: 0 0 5 20;
}

.label-example {
    -fx-padding: 0 0 0 30;
    -fx-font-style: italic;
}

.label-example-translated {
    -fx-padding: 0 0 5 35;

}

.label-example:hover, .label-idiom:hover {
    -fx-font-weight: bold;
}

.definition-pane {
    -fx-padding: 10 10 10 10;
    -fx-background-radius: 0 0 15 0;
}

.tts-button {
    -fx-fill: #9d9d9d;
}

.tts-button:hover {
    -fx-fill: #000000;
}

#flag-vn {
    -fx-background-image:  url("/images/flag_vn.png");
}

#flag-us {
    -fx-background-image:  url("/images/flag_us.png");
}